body {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.logo {
    text-align: center;
    margin-top: 7rem;
    font-weight: bold;
    vertical-align: middle;
}
.logo-text {
    display: block;
    font-size: 3rem;
}
.logo-img {
    width: 10rem;
}
.btn-grp {
    margin-top: 7rem;
    text-align: center;
}
.download-btn {
    padding: .3rem 1rem;
    text-decoration: none;
    border: 1px solid #0f65f0;
    color: #fff;
    background-color: #4184f3;
    font-size: 1.5rem;
}